<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Include Chart.js via CDN -->
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <h2>WE<span class="danger">CAST</span></h2>
                </div>
            </div>

            <div class="sidebar">
                <a href="/" class="active">
                    <span class="material-symbols-outlined">space_dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/sensor1">
                    <span class="material-symbols-outlined">sensors</span>
                    <h3>Sensor 1</h3>
                </a>
                <a href="/sensor2">
                    <span class="material-symbols-outlined">sensors</span>
                    <h3>Sensor 2</h3>
                </a>
                <a href="/sensor3">
                    <span class="material-symbols-outlined">sensors</span>
                    <h3>Sensor 3</h3>
                </a>
                <a href="/view_timestamps">
                    <span class="material-symbols-outlined">description</span>
                    <h3>Database</h3>
                </a>
            </div>
        </aside>
        <!-------------------- END OF ASIDE ------------------------------------->
        <main>
            <h1>Dashboard</h1>

            <div class="date">
                <label>
                    <input type="date" id="dateInput">
                </label>
            </div>
            <button id="filterButton" class="button">Filter</button>

            <div class="insights">
                <div class="temperature">
                    <span class="material-symbols-outlined">device_thermostat</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Temperature</h3>
                            <h1>{{ grouped_data[sorted_keys[-1]].temperature | round(2) }}&degC</h1>
                        </div>
                        <div class="progress">
                            <div class="high">
                                <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                                </svg>
                                <div class="number">
                                    <p>{{min_temperature | round(1)}}&degC</p>
                                </div>
                            </div>
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number2">
                                <p>{{max_temperature | round(1)}}&degC</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <!---------------- END Temperature ------------------------------------->
                <div class="humidity">
                    <span class="material-symbols-outlined">humidity_percentage</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Humidity</h3>
                            <h1>{{ grouped_data[sorted_keys[-1]].humidity | round(2) }}%</h1>
                        </div>
                        <div class="progress">
                            <div class="high">
                                <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                                </svg>
                                <div class="number">
                                    <p>{{min_humidity | round(1)}}%</p>
                                </div>
                            </div>
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number2">
                                <p>{{max_humidity | round(1)}}%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <!---------------- END HUMIDITY ------------------------------------->
                <div class="tvoc">
                    <span class="material-symbols-outlined">air</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Volatile Organic Compounds</h3>
                            <h1>{{ grouped_data[sorted_keys[-1]].tvoc | round(2)}}ppb</h1>
                        </div>
                        <div class="progress">
                            <div class="high">
                                <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                                </svg>
                                <div class="number">
                                    <p>{{min_tvoc | round(1)}}ppb</p>
                                </div>
                            </div>
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number2">
                                <p>{{max_tvoc | round(1)}}ppb</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
                <!---------------- END TVOC ------------------------------------->
            </div>
            <!---------------- END INSIGHTS ------------------------------------->
            <canvas id="myChart"></canvas>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    // Extract data from grouped_data for the chart
                    var groupedData = JSON.parse('{{ grouped_data | tojson | safe }}');
                    var timestamps = Object.keys(groupedData);
                    var temperatures = timestamps.map(function(timestamp) {
                        return groupedData[timestamp].temperature;
                    });
                    var humidities = timestamps.map(function(timestamp) {
                        return groupedData[timestamp].humidity;
                    });
                    var tvocs = timestamps.map(function(timestamp) {
                        return groupedData[timestamp].tvoc;
                    });

                    // Get the canvas element
                    var ctx = document.getElementById('myChart').getContext('2d');

                    // Create the chart
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: timestamps,
                            datasets: [{
                                label: 'Temperature (°C)',
                                data: temperatures,
                                borderColor: 'rgb(255, 99, 132)',
                                tension: 0.1
                            }, {
                                label: 'Humidity (%)',
                                data: humidities,
                                borderColor: 'rgb(54, 162, 235)',
                                tension: 0.1
                            }, {
                                label: 'TVOC (ppb)',
                                data: tvocs,
                                borderColor: 'rgb(75, 192, 192)',
                                tension: 0.1
                            }]
                        }
                    });


                    var filterButton = document.getElementById('filterButton');
                    filterButton.addEventListener('click', function() {
                        // Call the filterData function when the button is clicked
                        filterData();
                    });
                    // Function to filter data based on the entered date
                    function filterData() {
                        var inputDate = document.getElementById('dateInput').value;
                        var filteredData = Object.keys(groupedData).reduce(function(filtered, key) {
                            if (key.includes(inputDate)) {
                                filtered[key] = groupedData[key];
                            }
                            return filtered;
                        }, {});

                        // Extract data for the chart
                        var timestamps = Object.keys(filteredData);
                        var temperatures = timestamps.map(function(key) {
                            return filteredData[key].temperature;
                        });
                        var humidities = timestamps.map(function(key) {
                            return filteredData[key].humidity;
                        });
                        var tvocs = timestamps.map(function(key) {
                            return filteredData[key].tvoc;
                        });

                        // Update the chart with the filtered data
                        myChart.data.labels = timestamps;
                        myChart.data.datasets[0].data = temperatures;
                        myChart.data.datasets[1].data = humidities;
                        myChart.data.datasets[2].data = tvocs;
                        myChart.update();

                        // Calculate min and max values for temperature, humidity, and TVOC
                        var minTemp = Math.min(...temperatures);
                        var maxTemp = Math.max(...temperatures);
                        var minHumidity = Math.min(...humidities);
                        var maxHumidity = Math.max(...humidities);
                        var minTVOC = Math.min(...tvocs);
                        var maxTVOC = Math.max(...tvocs);

                        // Update the minimum and maximum values displayed on the dashboard
                        document.querySelector('.temperature .number p').innerText = minTemp.toFixed(1) + "°C";
                        document.querySelector('.temperature .number2 p').innerText = maxTemp.toFixed(1) + "°C";
                        document.querySelector('.humidity .number p').innerText = minHumidity.toFixed(1) + "%";
                        document.querySelector('.humidity .number2 p').innerText = maxHumidity.toFixed(1) + "%";
                        document.querySelector('.tvoc .number p').innerText = minTVOC.toFixed(1) + "ppb";
                        document.querySelector('.tvoc .number2 p').innerText = maxTVOC.toFixed(1) + "ppb";
                    }
                });
            </script>

        </main>
    </div>
</body>
</html>
